.main {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.content {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inputs {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
}

.colorDiv, .backgroundColorDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
}


label {
    margin-right: 10px;
    margin-bottom: 5px;
}

@media only screen and (min-width: 800px) {
    .main {
        padding-top: 60px;
    }

    .content {
        width: 70%;
    }

    .inputs {
        flex-direction: row;
        justify-content: space-around;
    }

    .colorDiv, .backgroundColorDiv {
        flex-direction: row;
        margin: 0;
    }

    label {
        margin-bottom: 0;
    }
}